{% extends "base.html" %} {% block content %}

<form method="POST" action="/contact">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
      >
        About the Movement
      </h2>
      <br />
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        Welcome to MovieSpotters! We are your ultimate destination for movie
        enthusiasts and avid city explorers alike. Our site is dedicated to
        helping you track and log movie filming posters scattered throughout New
        York City.
      </p>
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        At MovieSpotters, we believe that every movie poster tells a unique
        story, just like the city itself. Our user-friendly interface lets you
        effortlessly log and geotag your discoveries, creating a virtual map of
        movie magic. Not only can you document your sightings, but you can also
        interact with fellow film enthusiasts, sharing your experiences, and
        collaborating on uncovering the latest movie promotions.
      </p>
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        Whether you're a passionate movie buff or simply a curious wanderer,
        join our community today and embark on a thrilling cinematic scavenger
        hunt across the Big Apple!
      </p>
    </div>
  </section>
</form>

{% endblock %}
