{% extends "base.html" %}
{% block content %}

<!-- Null Status Sightings -->
<div class="py-8 lg:py-16 px-2 mx-auto max-w-screen bg-sky-300">
    <center><a href="/new_release" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-full shadow text-base px-6 py-3.5">Add a New Release</a></center>
    <br>
    <br>
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Sightings to be Approved:</h2>
</div>

<!-- List of all Null Sightings -->
<center>
    {% for sighting in sightings %}
        {% if sighting.approval == None %}
        <form action="/update_sighting" method="POST">
            <div class="max-w-screen-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col sm:flex-row m-4 overflow-hidden">
                    <div class="ccr-GREEN md:w-1/2">
                        <div class="ccr-BLUE">
                            <img class="rounded-tl-lg w-full object-cover" src="{{sighting.image}}" alt="" />
                        </div>
                        <div>
                            {% if sighting.location == "" %}
                            <div class="ccr-BLUE">
                                <iframe class=" w-full object-cover" src="https://maps.google.com/maps?q={{ sighting.location_lat }},{{ sighting.location_long }}&amp;z=14&amp;output=embed"></iframe>
                            </div>
                            {% endif %}

                        </div>
                        <div class="ccr-BLUE">
                            <p class="font-normal rounded-b-lg dark:text-gray-400 card-footer text-muted dark:text-gray-700 bg-gray-200 dark:bg-gray-400"
                            >
                                Uploaded: {{sighting.created_at|convert_timezone('UTC', 'US/Eastern')|strftime('%m-%d-%Y at %I:%M%p')}}
                            </p>
                        </div>
                        <div class="ccr-BLUE">
                            {% if sighting.location != "" %}
                            <p class="font-normal text-gray-700 dark:text-gray-400 card-footer text-muted bg-yellow-200">
                                Location Provided: {{sighting.location}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ccr-GREEN p-5 md:w-1/2">
                            <div class="ccr-BLUE">
                                <label for="project_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Project Name</label>
                                <input type="text" id="project_name" name="project_name" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" value="{{sighting.project_name}}" required>
                            </div>
                            <br>
                            <div class="flex flex-row gap-2 items-center">
                                {% if sighting.location != None %}
                                <div>
                                    <label for="location_lat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Location Lat</label>
                                    <input type="text" id="location_lat" name="location_lat" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" value="{{sighting.location_lat}}" required>
                                </div>
                                <br>
                                <div>
                                    <label for="location_long" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Location Long</label>
                                    <input type="text" id="location_long" name="location_long" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" value="{{sighting.location_long}}" required>
                                </div>
                                {% endif %}
                            </div>
                            <br>
                            <!-- CONVERTING UTC TO EST -->
                            <div class="flex felx-row gap-2 items-center">
                                <div>
                                    <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Start Date</label>
                                    <input type="text" id="start_date" name="start_date" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" 
                                        value="{% if sighting.start_date != None %}{{sighting.start_date}}{% endif %}"
                                        required
                                    />
                                </div>
                                <br>
                                <div>
                                    <label for="end_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">End Date</label>
                                    <input type="text" id="end_date" name="end_date" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" 
                                        value="{% if sighting.end_date != None %}{{sighting.end_date}}{% endif %}"
                                        required
                                    />
                                </div>
                            </div>
                            <br>
                            <div>
                                <label for="start_time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Start Time</label>
                                <input type="text" id="start_time" name="start_time" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" 
                                    value="{% if sighting.start_time != None %}{{sighting.start_time|strftime('%I:%M%p')}}{% endif %}"
                                    required
                                />
                            </div>
                            <br>
                            <div>
                                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description</label>
                                <textarea id="description" name="description" rows="4" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" required>{{sighting.description}}</textarea>
                            </div>
                            <br>
                             <!-- New Dropdown Section -->
                                <div class="mb-4">
                                    <label for="yesno" class="block text-gray-700 text-sm font-bold mb-2">Approve</label>
                                    <select id="yesno" name="status" class="w-full p-2 border rounded">
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            <div>
                            <input type="hidden" name="sighting_id" value="{{ sighting.id }}">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                Submit
                            </button>
                            </div>
                        </p>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endfor %}
</center>

<!-- Disapproved Sightings DELETED FROM PAGE -->
<!-- <div class="py-8 lg:py-16 px-2 mx-auto max-w-screen bg-sky-300">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Disapproved Sightings:</h2>
</div>
<br> -->

<!-- List of All Disapproved -->
<!-- <center>
    {% for sighting in sightings %}
        {% if sighting.approval == "no" %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg w-full object-cover" src="{{sighting.image}}" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="#">"{{sighting.project_name}}"</a></h4>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        <b>Location: </b> {{sighting.location}}
                        <br>
                        CONVERTING UTC TO EST
                        <b>Time:</b>
                        {% if sighting.start_time %}
                            {{ sighting.start_time.strftime('%m-%d-%Y at %I:%M%p') }}
                        {% endif %}
                        <br>
                        <br>
                        <b>Description:</b>
                        <br>
                        <i>{{sighting.description}}</i>
                    </p>
                </div>
                <p class="font-normal text-gray-700 dark:text-gray-400 card-footer text-muted">
                    Uploaded: {{ sighting.created_at.strftime('%m-%d-%Y at %I:%M%p') }}
                </p>
            </div>
            <br>
        {% endif %}
    {% endfor %}
</center> -->

{% endblock %}


