{% extends "base.html" %}
{% block content %}

<script type="module">
    import * as LR from "https://esm.sh/@uploadcare/blocks@0.22.13/web/file-uploader-regular.min.js";  
    LR.registerBlocks(LR);
</script>
<style>
.my-config {
  --cfg-pubkey: "db12333b4a5d847f9df1";
  --cfg-img-only: 1;
  --cfg-multiple: 0;
  --cfg-max-local-file-size-bytes: 10485760;
  --cfg-multiple-max: 1;
  --cfg-use-cloud-image-editor: 0;
  --cfg-source-list: "local, camera";
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}
</style>


<div class="py-8 lg:py-16 px-2 mx-auto max-w-screen bg-sky-300">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white-900 dark:text-white">What did you see?</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Log the information you found on the poster. We can't wait to hear the details!</p>
</div>

<form method="POST" action="/add_sighting" class="max-w-lg container mx-auto px-3">
    <br>
    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Upload Photo:</label>
    <div>
        <lr-file-uploader-regular
        css-src="https://esm.sh/@uploadcare/blocks@0.22.13/web/file-uploader-regular.min.css"
        ctx-name="my-uploader"
        class="my-config"
        >
        </lr-file-uploader-regular>

        <lr-data-output ctx-name="my-uploader" use-input input-name="image"></lr-data-output>
    </div>
    <br>
     <!--Project Name Section-->
    <div>
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Project Name:</label>
        <input type="text" id="subject" name="project_name" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="The Wizard of Oz" required>
    </div>
    <br>
     <!--Location Section-->
    <div>
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Location:</label>
        <input type="text" id="subject" name="location" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="42nd & Bway" required>
    </div>
    <br>
    
    <!-- component -->
    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Production Start Time:</label>
    <div class="mt-2 p-5 w-40 bg-white rounded-lg shadow-xl">
      <div class="flex">
        <select name="hours" class="bg-transparent text-xl appearance-none outline-none">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">10</option>
          <option value="12">12</option>
        </select>
        <span class="text-xl mr-3">:</span>
        <select name="minutes" class="bg-transparent text-xl appearance-none outline-none mr-4">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
        <select name="ampm" class="bg-transparent text-xl appearance-none outline-none">
          <option value="am">AM</option>
          <option value="pm">PM</option>
        </select>
      </div>
    </div>
  
    <br />
    <!--Date Spotted Section-->
    <div class="relative max-w-sm">
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Production Start Date:</label>
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
        </div>
        <input datepicker type="text" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 flatpickr">
      
      
      <script>
        flatpickr(".flatpickr", {
        });
      </script>
      </div>
      
  
      
    <br>
     <!--Description Section-->
    <div>
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description:</label>
        <textarea id="message" rows="4" name="description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>
    </div>
    <br><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"><input type="submit" /></form</br></button>
    <br>
    

</form>

{% endblock %}
