{% extends "base.html" %} {% block content %}

<form method="POST" action="/contact">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
      >
        Submission Received! 🎉
      </h2>
      <br />
      <p
        class="italic mb-12 lg:mb-12 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        Our team of movie enthusiasts is busy behind the scenes, verifying and
        adding your sighting to our growing collection. Check back soon to see
        it on the homepage!
      </p>
      <h4
        class="mb-8 lg:mb-8 text-left font-bold text-xl text-gray-600 dark:text-gray-300"
      >
        Add us to your iPhone home screen for quick access next time! ⬇️
      </h4>
      <p
        class="mb-4 lg:mb-4 font-light text-left text-gray-600 dark:text-gray-300 sm:text-xl"
      >
        1. Go to
        <a
          href="https://moviespotters.com/submit"
          class="text-blue-500 dark:text-blue-400"
        >
          https://moviespotters.com/submit
        </a>
        in Safari
      </p>

      <p
        class="mb-4 lg:mb-4 font-light text-left text-gray-600 dark:text-gray-300 sm:text-xl"
      >
        2. While viewing the submit page, tap the share button in the middle of
        the menu bar at the bottom of your screen.
      </p>
      <p
        class="mb-4 lg:mb-4 font-light text-left text-gray-600 dark:text-gray-300 sm:text-xl"
      >
        3. Scroll down the list of options, then tap “Add to Home Screen.”
      </p>
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-600 dark:text-gray-300 sm:text-xl"
      >
        4. Once you’re on the “Add to Home Screen” page, click the “Add” button
        on the top right of the screen.
      </p>
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-600 dark:text-gray-300 sm:text-xl"
      >
        And you’re done— it’s as simple as that!
      </p>
    </div>
  </section>
</form>

{% endblock %}
