{% extends "base.html" %}
{% block content %}



<div class="py-8 lg:py-16 px-2 mx-auto max-w-screen bg-sky-300 dark:bg-sky-900">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">What did you see?</h2>
    <p class="font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Log the information you found on the poster.</p>
</div>

<br>
<!-- Add the image display here -->
<div class="flex items-center justify-center">
  <img src="{{ sighting.image }}" alt="Poster Image" class="max-w-full h-auto mb-8">
</div>

<form method="POST" action="/submit/{{ sighting.id }}" class="max-w-lg container mx-auto px-3">
    <!--Project Name Section-->
    <br>
    <div>
        <label for="project_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Project Name</label>
        <input type="text" id="project_name" name="project_name" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="The Wizard of Oz" required>
    </div>
    <br>      
  
    
    <!--Date Spotted Section-->
    <label for="datepicker" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      Shoot date & time
    </label>
    <div class="flex flex-row gap-2 items-center">
      <div>
        <div class="relative max-w-sm">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <input datepicker type="text" id="datepicker" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 flatpickr">
          <script>
              flatpickr(".flatpickr", {
              });
          </script>
        </div>
      </div>

      <!-- time component -->
      <div class="p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <div class="flex">
          <select name="hours" class="bg-transparent appearance-none outline-none">
            {% for hour_number in hour_numbers %}
            <option value="{{hour_number}}"
              {% if hour_number == default_hour %}
              selected
              {% endif %}
            >{{hour_number}}</option>
            {% endfor %}
          </select>
          <span class="mr-1">:</span>
          <select name="minutes" class="bg-transparent appearance-none outline-none mr-2">
            <option value="0">00</option>
            <option value="30">30</option>
          </select>
          <select name="ampm" class="bg-transparent appearance-none outline-none">
            <option value="am">AM</option>
            <option value="pm">PM</option>
          </select>
        </div>
      </div>
    </div>
    <br>

    <!--Description Section-->
    <div>
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Extra details</label>
        <textarea id="message" rows="4" name="description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave any notes or observations..."></textarea>
    </div>
    <br>

    <button
      type="submit"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Submit
    </button>
</form>

{% endblock %}