{% extends "base.html" %} {% block content %}

<form method="POST" action="/contact">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
      >
        Submission Received! 🎉
      </h2>
      <br />
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        Our team of movie enthusiasts is busy behind the scenes, verifying and
        adding your sighting to our growing collection.
      </p>
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        Soon, your find will be showcased on our website, helping fellow movie
        buffs and fans to stay in the loop about exciting new productions.
      </p>
      <p
        class="mb-8 lg:mb-8 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        Stay tuned for updates, and don't forget to share your thrilling
        discovery with friends and family. Together, we're celebrating the magic
        of cinema, one poster at a time! 🎞️🌟
      </p>
    </div>
  </section>
</form>

{% endblock %}
